<ion-view view-title="Create">
  <ion-content class="padding">
    <form name="leadForm" ng-submit="submitForm(leadForm.$valid)" novalidate>
      <div class="form-group row">
        <label class="control-label col-xs-4" for="name">Name :</label>
        <div class="col-xs-8">
          <input type="text" name="name" class="form-control" ng-model="lead.name" placeholder="Enter name" required>
          <span class="error" ng-show="leadForm.name.$invalid && !leadForm.name.$pristine">Enter valid name.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-xs-4" for="email">Email :</label>
        <div class="col-xs-8">
          <input type="email" class="form-control" ng-model="lead.email_address" name="email" placeholder="Enter Email">
          <span class="error" ng-show="leadForm.email.$invalid">Enter valid email.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2 col-xs-4" for="contact">Contact Number :</label>
        <div class="col-sm-10 col-xs-8">
          <input type="number" class="form-control" ng-model="lead.contact_no" name="contact" placeholder="Enter Contact Number">
          <span class="error" ng-show="leadForm.contact.$invalid">Enter valid contact number.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2 col-xs-4" for="address">Address :</label>
        <div class="col-sm-10 col-xs-8">
          <input type="text" class="form-control" ng-model="lead.address" name="address" placeholder="Enter Address">
          <span class="error" ng-show="leadForm.address.$invalid">Enter valid address.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2 col-xs-4" for="interest">Interested In :</label>
        <div class="col-sm-10 col-xs-8">
          <input type="text" class="form-control" ng-model="lead.products_interested_in" name="interest" placeholder="Enter products interested in">
          <span class="error" ng-show="leadForm.interest.$invalid">Enter valid products.</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2 col-xs-4" for="note">Additional Notes :</label>
        <div class="col-sm-10 col-xs-8">
          <textarea class="form-control" rows="5" ng-model="lead.additional_notes" name="note" placeholder="Additional notes"></textarea>
        </div>
      </div>
        <center><button type="submit" class="btn btn-success btn-lg" ng-disabled="leadForm.$invalid">{{btnName}}</button></center>
    </form>
  </ion-content>
</ion-view>