<ion-view view-title="List">
  <ion-content class="padding">
    <div class="row">
        <h3 class="greenText col-xs-9">Leads</h3>
        <button class="btn btn-success btn-sm col-xs-3" ng-click="createNew()">Add New</button>
    </div>
    <ion-list style="clear:both">
        <ion-item ng-repeat="lead in leadsList" ng-click="openDetails(lead)">
            <div class="row">
                <div class="col-xs-10">{{lead.name}}</div>
                <div class="col-xs-2">
                    <img class="pull-right" ng-click="editLead(lead); $event.stopPropagation();" src="img/edit.png"/>
                </div>
            </div>
            <div> 
                <span class="label"> Email: </span> 
                <span> {{lead.email_address}} </span>
            </div>
            <div> 
                <span class="label"> Contact Number: </span> 
                <span> {{lead.contact_no}} </span>
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>