<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset loginDiv">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="user.username" required>
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password" required>
          </label>
      </div>
      <button class="button button-block btn-success" ng-click="login()">Login</button>
      <div class="txt-error" ng-if="error">Please enter valid username and password.</div>
  </ion-content>
</ion-view>